img {
    width: 200px;
}
body {
    text-align: center;
}
body {
    text-align: center;
    font-family: "Arial";
}
#yeahboi {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  border-color: black;
  background-color: brown;
  font-size: 20px;
  color: white;
}
